.profile__info-title {
  color: #ffffff;
  margin: 0;
  max-width: 333px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  align-self: center;
  font-size: 42px;
  line-height: 39px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .profile__info-title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
