.elements__container {
  padding: 0;
  margin: 0;
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .elements__container {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .elements__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
