.popup__input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  color: #000000;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.popup__input:hover {
  opacity: 0.8;
}
