.element__title {
  font-weight: 900;
  font-size: 24px;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  align-self: center;
  max-width: 190px;
}
